body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #cc6767;
}

div {
  padding: 1rem;
}


section {
  background: rgb(210, 41, 41);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  background: white;
  color: black;
}

.featured {
  border: 2px solid purple;
}